@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

header {
	width: 100%;
	position: absolute;
	padding: 5vh 10vw;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;

	#gnb {
		display: flex;
		gap: 30px;
	}
}

figure {
	#visual {
		width: 100%;
		height: 100vh;
		position: relative;
		z-index: 1;
		overflow: hidden;
		padding: 10vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;

		.txtBox {
			width: 48%;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			gap: 20px;

			> * {
				width: 100%;
			}
		}

		.picBox {
			width: 48%;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.box {
				width: 400px;
				height: 600px;
				position: relative;
				background: #333;
				box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
				border-radius: 200px;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;

				&::before {
					content: '';
					position: absolute;
					width: 160%;
					height: 160%;
					background: conic-gradient(from 90deg, transparent 70%, rgba(0, 255, 255, 0.5) 90%, rgb(0, 255, 255) 100%);
					animation: ani 3s linear infinite;
				}
				&::after {
					content: '';
					position: absolute;
					top: 5px;
					left: 5px;
					width: 390px;
					height: 590px;
					border-radius: 195px;
					background: #333;
				}
			}
		}
	}
}

@keyframes ani {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
